*.swp
*.swo
*.pdf
*.txt
*.pyc
*.log
*.npz
efficient/figures/*
efficient/data/dmrg/*
efficient/data/mf/*
efficient/data/ed/*
efficient/data/*
efficient/results/*
efficint/examples/00_evonet_figs.py
backup/figures/*
backup/data/dmrg/*
backup/data/mf/*
backup/data/ed/*
backup/data/*
